<!-- <section class="categories-section">
  <ul class="categories__list">
    <li class="categories__item">
      <a
        class="categories__link js-click-link current-category"
        data-value="all-categories"
        >All categories</a
      >
    </li>
  </ul>
</section> -->



<section class="categories">
  <h2 class="visually-hidden"></h2>
  <ul class="categories-list categories-list-js ">
      <li class="categories-list__item">
         <button class="categories-list__button all-categories-btn">All categories</button>
      </li>
  </section>