<header class="header">
  <div class="container header__container">
    <a class="logo_header header__logo-img" href="./index.html">
      <div class="header__logo-img"></div>
    </a>
    <nav></nav>
    <label class="switch" aria-label="switch black theme ">
      <input
        type="checkbox"
        class="switch__input"
        aria-label="switch black theme"
      />
      <span class="switch__slider"></span>
    </label>

    <!-- User --- Log out-->
    <div class="authorised-btns__wrapper is-hidden">
      <button class="btn-user user-btn-js" type="button">
        <span class="fone-icon-user">
          <svg class="icon-user" width="19px" height="19px">
            <use href="./images/icons.svg#icon-user"></use>
          </svg>
        </span>
        User
        <svg class="icon-triangle-down" width="23px" height="26px">
          <use href="./images/icons.svg#icon-triangle-down"></use>
        </svg>
      </button>
      <button class="log-out-btn log-out-btn-js is-hidden" type="button">
        Log out
        <svg class="" width="20px" height="20px">
          <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
    <!--  -->
  </div>
</header>
